TZ=America/Sao_Paulo
TRONCOMANDA_STORAGE_ROOT=/opt/tronfire-storage/troncomanda

TRONCOMANDA_WEB_PORT=8000
TRONCOMANDA_API_PORT=9000
TRONCOMANDA_LAN_HOST=
TRONCOMANDA_PUBLIC_URL=

TRONCOMANDA_SECRET_KEY=troque_esta_chave
TRONCOMANDA_FIREBIRD_HOST=host.docker.internal
TRONCOMANDA_FIREBIRD_USER=sysdba
TRONCOMANDA_FIREBIRD_PASSWORD=masterkey
TRONCOMANDA_DATABASE_ALIAS=ERP_TRONSOFT
TRONCOMANDA_DATABASE_CHARSET=win1252
